* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-8,
.col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-8,
.col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .col-2 {
    width: 16.6%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3%;
  }
  .col-5 {
    width: 41.6%;
  }
  .col-6 {
    width: 50%;
  }
  .col-8 {
    width: 66.6%;
  }
  .col-12 {
    width: 100%;
  }
}
