body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.smiley {
  padding-top: 50px;
  color: #52e7d8;
  -webkit-text-stroke: 1px black;
  font-size: 40px;
}

.title {
  font-family: 'Leckerli One', cursive;
  color: #444;
  font-size: 35px;
}

.input-field {
  margin: 20px 0 0 0;
  width: 400px;
  height: 40px;
  -webkit-appearance: textfield;
  box-sizing: content-box;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0 10px;
  font-size: 20px;
}

.search-button {
  width: 100px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 20px;
  color: #777;
}

.results {
  display: none;
}

.word-title,
.definition-title,
.kanji-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

hr {
  max-width: 1000px;
  border-top: 1px solid #999;
}

.blue-hr {
  border-top: 1px solid #52e7d8;
}

.orange-hr {
  border-top: 1px solid #ff9100;
}

.pink-hr {
  border-top: 1px solid #ff006a;
}

.word-smiley {
  font-size: 12px;
}

.word-result,
.definition-result {
  margin-bottom: 20px;
}

.kanji-result {
  margin-top: 0;
}

.kanji-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.kanji-col-left {
  margin-right: 20px;
  display: inline-block;
}

.kanji-col-right {
  display: inline-block;
}

/* .word-block {
  border: 1px solid #999;
  border-radius: 5px;
} */

.center-text {
  text-align: center;
}

.japanese-word {
  font-size: 40px;
}

.japanese-word-hiragana {
  font-size: 30px;
}

.japanese-word-romaji {
  font-size: 30px;
}

.word-result {
  font-size: 15px;
}

.definition {
  font-size: 25px;
}

.kanji {
  font-size: 80px;
}

video {
  width: 100px;
  height: 100px;
}

.search-area,
.word {
  text-align: center;
  margin-bottom: 50px;
}

.word,
.learn-more {
  display: none;
}

.word {
  font-size: 50px;
}

.large-font {
  font-size: 40px;
}

.large-character {
  font-size: 70px;
}

.inline-block {
  display: inline-block;
}

.blue {
  color: #52e7d8;
}

.pink {
  color: #ff006a;
}

.orange {
  color: #ff9100;
}
