body {
  padding: 75px 0;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.title {
  font-family: 'Leckerli One', cursive;
  color: #444;
  font-size: 35px;
}

.smiley {
  color: #52e7d8;
  -webkit-text-stroke: 1px black;
  font-size: 40px;
}

.input-field {
  margin: 20px 0 0 0;
  width: 400px;
  height: 40px;
  -webkit-appearance: textfield;
  box-sizing: content-box;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0 10px;
  font-size: 20px;
}

/* .input-field:focus {
  outline: none;
  border: 4px dotted #f020a3;
} */

.search-button {
  width: 100px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 20px;
  color: #888;
}

.how-to {
  margin-top: 20px;
  font-size: 20px;
}

.word-title {
  font-size: 20px;
}

.word-smiley {
  font-size: 15px;
  color: #888;
}

video {
  border: 1px solid black;
}

.search-area,
.word,
.romaji,
.hiragana,
.learn-more,
.kanji,
.katakana {
  text-align: center;
  margin-bottom: 50px;
}

.word,
.learn-more,
.romaji,
.kanji,
.hiragana,
.katakana {
  display: none;
}

.kanji-color {
  color: #52e7d8;
}

.hiragana-color {
  color: #f020a3;
}

.katakana-color {
  color: #ec4f19;
}

.romaji-color {
  color: #501d50;
}

.word {
  font-size: 50px;
}

.large-font {
  font-size: 40px;
}

.large-character {
  font-size: 70px;
}

.inline-block {
  display: inline-block;
}

.kanji {
  border: 5px solid #52e7d8;
}

.hiragana {
  border: 5px solid #f020a3;
}

.romaji {
  border: 5px solid #501d50;
}

.katakana {
  border: 5px solid #ec4f19;
}
