body {
  padding: 75px 0;
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-family: 'Leckerli One', cursive;
  color: #444;
  /* background: -webkit-linear-gradient(#f551cd, #860ba4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.smiley {
  color: #52e7d8;
  -webkit-text-stroke: 1px black;
}

video {
  border: 1px solid black;
}

.search-area,
.word,
.romaji,
.hiragana,
.learn-more,
.kanji,
.katakana {
  text-align: center;
  margin-bottom: 50px;
}

.word,
.learn-more,
.romaji,
.kanji,
.hiragana,
.katakana {
  display: none;
}

.kanji-color {
  color: #52e7d8;
}

.hiragana-color {
  color: #f020a3;
}

.katakana-color {
  color: #ec4f19;
}

.romaji-color {
  color: #501d50;
}

.word {
  font-size: 50px;
}

.large-font {
  font-size: 40px;
}

.large-character {
  font-size: 70px;
}

.inline-block {
  display: inline-block;
}

.kanji {
  border: 5px solid #52e7d8;
}

.hiragana {
  border: 5px solid #f020a3;
}

.romaji {
  border: 5px solid #501d50;
}

.katakana {
  border: 5px solid #ec4f19;
}
